<% const currentYear = new Date().getFullYear(); %>

<footer class="main-footer <%= className ?? "" %>">
  <strong>Copyright &copy; <%= currentYear %> <a href="javascript:void(0)">StoreGG</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> <%= appVersion %>
  </div>
</footer>